div.indexheading h1 {
	text-align: center;
	font-size: 350%;
}

.wy-side-nav-search {
	background-color: #922525;
}

.wy-menu-vertical header, .wy-menu-vertical p.caption {
	color: #cc5a5a;
}

.wy-nav-content-wrap a,
.wy-nav-content-wrap a:hover,
.wy-nav-content-wrap a:visited {
	color: #c83232;
}